

html, body {
  height: 100%;
  width: 100%;
}

canvas{
  height: 100%;
  width: 100%;
}


#wrap{
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hoovy{
  font-size: 50px;
  font-family: 'VT323',Monospace,sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input{
  background-color: rgba(255,255,255,0.3);
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
#inputs{
  text-align: right;
  color: white;
  font-family: 'VT323';
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  position: absolute;
  box-shadow: #000 2px 3px 10px -2px;
  top: 10px;
  right: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  visibility: hidden;
}

